.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-title-link {
  text-decoration: none;
  color: inherit;
}

.App-title-link:hover .App-title {
  text-decoration: underline;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 2rem;
  margin: 0;
}

.App-link {
  color: #61dafb;
}


